.card {
    background-color: #282828;
    /* width: 50%; */
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 8px;
    text-align: center;
  }
  
  .task-title {
    color: white;

    font-size: 18px;
    font-weight: bold;
  }
  
  .task-details {
    font-size: 14px;
    color: white;

  }
  