<main>
    <section>
      <div id="form-box">
        <div id="title">
          <h1>Registro</h1>
        </div>
        <div id="form">
          <form [formGroup]="registerForm">
            <div id="field">
              <label for="username">Usuario</label>
              <input type="text" formControlName="username" placeholder="Nombre de Usuario Único">
              <p *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                El nombre de usuario debe tener al menos 8 caracteres.
              </p>
            </div>
            <div id="field">
              <label for="password">Contraseña</label>
              <input type="password" formControlName="password" placeholder="Contraseña">
              <p *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                La contraseña es obligatoria.
              </p>
            </div>
            <div id="btn-box">
              <button class="button-28" type="button" (click)="register()">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
      <div id="logo-box">
        <img src="assets/logo.png" alt="logoimg">
      </div>
    </section>
  </main>
  