<main>
    <section>
        <div id="form-box">
            <div id="title">
                <h1>Iniciar Sesión</h1>
            </div>
            <div id="form">
                <div id="field">
                    <label for="">Usuario</label>
                    <input type="text">
                </div>
                <div id="field">
                    <label for="">Contraseña</label>
                    <input type="password">
                </div>
            </div>
            <div id="btn-box">
                <button class="button-28" role="button" (click)="login()">Iniciar Sesión</button>
                <a href="register">No tengo cuenta</a>
            </div>
        </div>
        <div id="logo-box">
            <img src="assets/logo.png" alt="logoimg">
        </div>

    </section>
</main>
