<app-navbar/>
<main>
    <section>
        <div id="information-box">
            <h1>Selecciona tus hábitos</h1>
            <div id="list-box">
                <div *ngFor="let tarea of tareas">
                  <label>
                    <input 
                      type="checkbox" 
                      [value]="tarea" 
                      (change)="onCheckboxChange($event)" 
                    />
                    {{ tarea }}
                  </label>
                </div>
            </div>
            <div id="btn-box">
              <button class="button-28" role="button" (click)="guardarSeleccion()">Comenzar</button>
            </div>
          </div>
          <div id="picture-box">
            <img src="assets/heart.png" alt="Imagen">
          </div>
    </section>
</main>
